.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.items-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}
